.menus
{
    position: absolute;
    z-index: 1000;
}
#headerMain
{
    font-weight: bold;
    font-size:40px;
    background-color: green;
}
th, td{
    height: Auto;
    vertical-align: middle;
}
.large-text {
    font-size: 20px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
table, img{
    position: relative
}
.middleAlign{
    justify-content: center;
    display: flex;

    height: 50vh;
    padding-top: 50px;

}
#arrowleft
{
    transform: scaleX(-1)
}
.arrow{
    width : 50vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.arrow-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-container img {
    max-width: 100%;
    height: auto;
}




