.menus
{
    position: absolute;
    z-index: 1000;
}
#headerMain
{
    font-weight: bold;
    font-size:40px;
    background-color: green;
}
th, td{
    height: Auto;
    vertical-align: middle;
}
.large-text {
    font-size: 20px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
table, img{
    position: relative
}
