.menus
{
    position: absolute;
    z-index: 1000;
}
#headerMain
{
    font-weight: bold;
    font-size:40px;
    background-color: green;
}
th, td{
    height: Auto;
    vertical-align: middle;
}
.large-text {
    font-size: 20px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
table, img{
    position: relative
}
.middleAlign{
    justify-content: center;
    display: flex;

    height: 50vh;
    padding-top: 50px;

}
#arrowleft
{
    transform: scaleX(-1)
}
.arrow{
    width : 50vh;
}

.container {
    display: flex;
    justify-content: center; /* Center the images horizontally */
    align-items: center; /* Center the images vertically */
    height: 100vh; /* Full viewport height (optional) */
}

.image-container {
    flex: 1; /* Each container takes up 50% of the parent's width */
    display: flex;
    justify-content: center; /* Center the image horizontally within its half */
    align-items: center; /* Center the image vertically within its half */
}

.image-container img {
    max-width: 100%; /* Ensure the image scales properly */
    height: auto; /* Maintain the aspect ratio of the image */
}
