{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="symbol" type="text" placeholder="Symbol">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="shares" type="number" min="0" placeholder="Shares">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Buy</button>
        </div>
    </form>
{% endblock %}
