{% extends "layout.html" %}


{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form id="changePassword" action="/changePassword" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="oldPassword" placeholder="Old Password" type="password">
            <input class="form-control mx-auto w-auto" name="newPassword" placeholder="New Password" type="password">
            <input class="form-control mx-auto w-auto" name="confirmPassword" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" onClick="passwordCheck()">Quote</button>

    </form>
    <script>
        function passwordCheck(){
            let oldPassword = document.getElementByName("oldPassword").value
            let newPassword = document.getElementByName("newPassword").value
            let confirmPassword = document.getElementByName("confirmPassword").value
            if !(newPassword) or !(oldPassword) or !(confirmPassword){
                alert("Please fill out the entire form!");
            }
            else if oldPassword == newPassword{
                alert("The Password has the be different from the old one!");
            }
            else if newPassword != confirmPassword
            {
                alert("New Password and Confirmation has to be the same!");
            }
            else{
                document.getElementById("changePassword").submit();
            }
        }
    </script>
{% endblock %}
