{% extends "layout.html" %}


{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form id="changePassword" action="/changePassword" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="oldPassword" placeholder="Old Password" type="password">
        </div>
            <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="newPassword" placeholder="New Password" type="password">
        </div>
            <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmPassword" placeholder="Confirm Password" type="password">
        </div>
        </div>
        <div class="mb-3">
        <button class="btn btn-primary" onClick="passwordCheck()">Quote</button>
    </div>

    </form>
    <script>
        function passwordCheck(){
            let oldPassword = document.getElementsByName("oldPassword").value
            let newPassword = document.getElementsByName("newPassword").value
            let confirmPassword = document.getElementsByName("confirmPassword").value
            if (!(newPassword) || !(oldPassword) || !(confirmPassword)){
                alert("Please fill out the entire form!");
            }
            else if (oldPassword == newPassword){
                alert("The Password has the be different from the old one!");
            }
            else if (newPassword != confirmPassword)
            {
                alert("New Password and Confirmation has to be the same!");
            }
            else{
                document.getElementById("changePassword").submit();
            }
        }
    </script>
{% endblock %}
