{% extends "layout.html" %}


{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/changePassword" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="oldPassword" placeholder="Old Password" type="password">
            <input class="form-control mx-auto w-auto" name="newPassword" placeholder="New Password" type="password">
            <input class="form-control mx-auto w-auto" name="confirmPassword" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" onClick="passwordCheck()">Quote</button>

    </form>
    <script>
        function passwordCheck(){
            let oldPassword = document.getElementByName("oldPassword")
            let newPassword = document.getElementByName("newPassword")
            let confirmPassword = document.getElementByName("confirmPassword")
            if oldPassword == newPassword{
                
            }
        }
    </script>
{% endblock %}
