{% extends "layout.html" %}


{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">
                    Symbol
                </th>
                <th class="text-end">
                    Shares
                </th>
                <th class="text-end">
                    Price
                </th>
                <th class="text-end">
                    TOTAL
                </th>
            </tr>
        </thead>
        <tbody>
            {% if portfolio %}
            {% for row in history %}
            <tr>
                <td class="text-start">
                    {{row["symbol"]}}
                </td>
                <td class="text-end">
                    {{row["shares"]}}
                </td>
                <td class="text-end">
                    {{row["share_price"] | usd}}
                </td>
                <td class="text-end">
                    {{row["total"] | usd}}
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        <tfooter>
            <tr>
                <td class="text-end fw-bold" colspan ="3">
                    Cash
                </td>
                <td class="text-end">
                    {{cash | usd}}
                </td>
            </tr>
            <tr>
                <td class="border-0 text-end fw-bold" colspan ="3">
                    TOTAL
                </td>
                <td class="border-0 text-end">
                    {{total | usd}}
                </td>
            </tr>
            </tfooter>
        </tfooter>
        </tbody>
    </table>
{% endblock %}
