{% extends "layout.html" %}


{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">
                    Symbol
                </th>
                <th class="text-end">
                    Shares
                </th>
                <th class="text-end">
                    Price
                </th>
                <th class="text-end">
                    TOTAL
                </th>
            </tr>
        </thead>
        <tbody>
            {% if portfolio %}
            {% for row in portfolio %}
            <tr>
                <td class="text-start">
                    {{row["symbol"]}}
                </td>
                <td class="text-end">
                    {{row["shares"]}}
                </td>
                <td class="text-end">
                    {{row["share_price"]}}
                </td>
                <td class="text-end">
                    {{row["total"]}}
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        <tfooter>
            <tr>
                <td class="text-end" colspan ="3">
                    Cash
                </td>
                <td>
                    {% if portfolio %}
                    {% set money = portfolio[0][users.cash]}
                    {% for row in portfolio %}
                    {% money =}
                    {% endfor %}
                    {% endif %}

                </td>
            </tr>
        </tfooter>
        </tbody>
    </table>
{% endblock %}
