{% extends "layout.html" %}


{% block title %}
    Quote
{% endblock %}

{% block main %}
        <form>
            <div class="mb-3">
                <table>
                    <theader>
                        <tr>
                            <th>
                                Symbol
                            </th>
                            <th>
                                Price
                            </th>
                        </tr>
                    </theader>
                    <tbody>
                        {% if quotedList %}
                        {% for quote in quotedList %}
                        <tr>
                            <td>
                                {{quote.symbol}}
                            </td>
                            <td>
                                {{quote.price}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>

{% endif %}
{% endblock %}
