{% extends "layout.html" %}


{% block title %}
    Quote
{% endblock %}

{% block main %}
        <form>
            <div class="mb-3">
                <table>
                    <thead>
                        <tr>
                            <th>
                                Symbol
                            </th>
                            <th>
                                Price
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if quoteList %}
                        {% for quote in quoteList %}

                        <tr>
                            <td>
                                {{quote["symbol"]}}
                            </td>
                            <td>
                                {{quote["price"]}}
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <p>{{ quoteList }}</p>
            </div>
        </form>


{% endblock %}
