{% extends "layout.html" %}


{% block title %}
    Register
{% endblock %}

{% block main %}
<form id="register">
    <input autocomplete="off" autofocus name="username" placeholder="Username">
    <input autocomplete="off" name="password" type="password" placeholder="Password">
    <input autocomplete="off" name="confirmation" type="password" placeholder="Confirmation">
    <button type="submit" onclick="validateRegistration()">Register</button>
</form>
<script>
    function validateRegistration(){
        username = document.getElementByName("username");
        password = document.getElementByName("password");
        confirmation = document.getElementByName("confirmation");
        if (!password && !username):
            alert("Please fill in the form!");
        else if !password:
            alert("Please fill in the Password!");
        else if !username:
            alert("Please fill in the Username!");
        else if (password !== confirmation):
            alert("Password and confirmation has the be equal");
        else:
            document.getElementById


    }

</script>
{% endblock %}
