{% extends "layout.html" %}


{% block title %}
    Register
{% endblock %}

{% block main %}
<form id="register" method="post" action="/register">
    <div class="mb-3">
        <input autocomplete="off" autofocus name="username" placeholder="Username">
    </div>
    <div class="mb-3">
        <input autocomplete="off" name="password" type="password" placeholder="Password">
    </div>
    <div class="mb-3">
        <input autocomplete="off" name="confirmation" type="password" placeholder="Confirmation">
    </div>
    <button class="btn btn-primary" type="submit" onclick="validateRegistration()">Register</button>
</form>
<script>
    function validateRegistration(){
        username = document.querySelector("input[name='username']").value;
        password = document.getElementByName("input[name='password']").value;
        confirmation = document.getElementByName("input[name='confirmation']").value;
        if (!password && !username):
        {
            alert("Please fill in the form!");
        }
        else if (!password):
        {
            alert("Please fill in the Password!");
        }
        else if (!username):
        {
            alert("Please fill in the Username!");
        }
        else if (password !== confirmation):
        {
            alert("Password and confirmation has the be equal");
        }
        else:
        {
            document.getElementById("register").submit();
        }

    }

</script>
{% endblock %}
