{% extends "layout.html" %}


{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select class="form-control mx-auto w-auto" name="symbol" value='{{symbol["symbol"]}}' type="select">
                <option
            {% if stocks %}
            {% for symbol in stocks %}
                <option value='{{symbol["symbol"]}}' name="symbol" ></option>
            {% endfor %}
            {% endif %}
        </select>
            <input class="form-control mx-auto w-auto" name="shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>

    </form>
{% endblock %}
