{% extends "layout.html" %}

{% block body %}
    <h1>Registrants</h1>
    <table>
        <theader>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Sport
                </th>
            </tr>
        </theader>
        <tbody>
            {% for name in registrants %}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ registrants[name] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
